@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap");
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: #0d0d0d;
}

html::-webkit-scrollbar-thumb {
  background: #fa9805;
  border-radius: 5rem;
}

body {
  background: #0d0d0d;
}

section {
  padding: 5rem 9%;
}

.heading {
  text-align: center;
  font-size: 6vw;
  color: #fff;
  margin-bottom: 3rem;
  text-transform: uppercase;
}

.heading span {
  text-transform: uppercase;
  color: #fa9805;
}

.btn {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 1rem;
  border-radius: 5rem;
  background: #fa9805;
  padding: .7rem;
  font-size: 1.7rem;
  color: #fff;
  padding-left: 2rem;
}

.btn i {
  height: 4rem;
  width: 4rem;
  line-height: 4rem;
  font-size: 1.7rem;
  text-align: center;
  background: #fff;
  color: #fa9805;
  border-radius: 50%;
  margin-left: 1rem;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.btn:hover i {
  margin-left: 2rem;
}

.navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1000;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.navbar a {
  padding: 2rem;
  font-size: 2rem;
  background: #1a1a1a;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #fff;
  text-align: center;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.navbar a i {
  color: #fa9805;
  padding-right: .5rem;
}

.navbar a:hover {
  background: #fa9805;
  padding-bottom: 6rem;
}

.navbar a:hover i {
  color: #fff;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 4rem;
  min-height: calc(100vh - 6.5rem);
}

.home .image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
  text-align: center;
}

.home .image img {
  height: 50rem;
  width: 50rem;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}

.home .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
}

.home .content h1 {
  color: #fff;
  font-size: 4rem;
  padding-bottom: .5rem;
  color: transparent;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-animation: text_reveal 0.5s ease forwards;
          animation: text_reveal 0.5s ease forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.home .content h1 > span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: #fa9805;
  -webkit-animation: text_reveal_box 1s ease;
          animation: text_reveal_box 1s ease;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.home .content span {
  position: relative;
  font-size: 3rem;
  color: #fa9805;
  padding: .5rem 0;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: transparent;
  -webkit-animation: text_reveal_name 0.5s ease forwards;
          animation: text_reveal_name 0.5s ease forwards;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.home .content span > span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: #fa9805;
  -webkit-animation: text_reveal_box 1s ease;
          animation: text_reveal_box 1s ease;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

/*=============== About ===============*/
#about .about-wrapper {
  padding: 1.5rem 1rem 1.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-height: -moz-fit-content;
  min-height: -webkit-fit-content;
  min-height: fit-content;
  height: 100%;
  position: relative;
}

#about .about-wrapper:before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 85%;
  height: 100%;
  z-index: 1;
  background: #1a1a1a;
  border-radius: 11px;
}

.custom-container {
  width: 85%;
  max-width: 1400px;
  margin: auto;
}

@media (max-width: 1180px) {
  .custom-container {
    width: 92%;
  }
}

#about .about-wrapper .about-me-pic {
  -webkit-box-flex: 1.5;
      -ms-flex: 1.5 1;
          flex: 1.5 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  z-index: 2;
  margin-top: 8rem;
}

#about .about-wrapper .about-me-pic img {
  width: 90%;
  height: auto;
  border-radius: 11px;
  -webkit-box-shadow: 6px 6px 13px rgba(0, 0, 0, 0.24);
          box-shadow: 6px 6px 13px rgba(0, 0, 0, 0.24);
}

#about .about-wrapper .about-me-text-wrapper {
  -webkit-box-flex: 2.5;
      -ms-flex: 2.5 1;
          flex: 2.5 1;
  padding: 1.5rem .5rem 1.5rem 0;
  color: #fff;
  z-index: 2;
}

.section-title, .section-title-white {
  margin-bottom: 1rem;
  font-weight: 500;
}

.section-title-white h2, .section-title-white small {
  color: #fff;
  font-size: 3.35rem;
}

.section-title h2, .section-title-white h2 {
  margin: -.5rem 0 .6rem -.12rem;
  font-size: 2.9rem;
}

.section-title-white .underline-section {
  border-bottom: 3px solid #fff;
  width: 120px;
  margin-top: -6.5px;
}

#about .about-wrapper .about-me-text-wrapper p.about-me-text {
  margin-bottom: 2.3rem;
  font-size: 2rem;
  letter-spacing: .5px;
  font-weight: 300;
}

#about .about-wrapper .about-me-text-wrapper a.btn-blue-primary {
  border: 3px solid #fff;
}

.btn-blue-primary {
  background: #3378c1;
  border: 3px solid #3378c1;
  color: #fff;
}

.btn-dark-primary {
  border-radius: 5px;
  padding: .56rem 1rem;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  height: 3rem;
  cursor: pointer;
  -webkit-transition: all .5s;
  transition: all .5s;
  text-decoration: none;
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-blue-primary {
  font-weight: 500;
}

#about .about-wrapper .about-me-text-wrapper a.btn-blue-primary {
  border: 3px solid #fff;
}

.btn-blue-primary {
  background: #3378c1;
  color: #fff;
  font-weight: 500;
}

#about .about-wrapper .about-me-text-wrapper a.btn-blue-primary svg {
  margin-left: 10px;
  margin-right: 0;
}

.btn-blue-primary svg, .btn-blue-secondary svg, .btn-dark-primary svg, .btn-dark-secondary svg {
  width: 1rem;
  height: 1rem;
  margin-right: .5rem;
}

svg {
  display: block;
}

#about .about-wrapper {
  padding: 1.5rem 1rem 1.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-height: -moz-fit-content;
  min-height: -webkit-fit-content;
  min-height: fit-content;
  height: 100%;
  position: relative;
}

@media (max-width: 1180px) {
  .custom-container {
    width: 92%;
  }
  .about-me-pic {
    margin-bottom: 2rem;
  }
  #about .about-wrapper .about-me-pic {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
  }
}

@media (max-width: 768px) {
  #about .about-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
  #about .about-wrapper:before {
    background: none;
  }
}

.custom-container {
  width: 85%;
  max-width: 1400px;
  margin: auto;
}

@media (max-width: 1180px) {
  .custom-container {
    width: 92%;
  }
}

.skills .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(16rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 1.5rem;
}

.skills .box-container .box {
  padding: 2rem;
  text-align: center;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
  border-radius: .5rem;
  background: #1a1a1a;
}

.skills .box-container .box img {
  height: 7rem;
  margin-bottom: 1rem;
}

.skills .box-container .box h3 {
  color: #fff;
  font-size: 1.7rem;
  font-weight: normal;
}

.education .box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.education .box-container .box {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  margin-left: 2rem;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 3.5rem;
  padding-bottom: 3rem;
  border-left: 0.1rem solid #aaa;
  position: relative;
}

.education .box-container .box i {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  font-size: 1.7rem;
  border-radius: 50%;
  background: #fa9805;
  color: #fff;
  text-align: center;
  position: absolute;
  top: -1rem;
  left: -2.5rem;
}

.education .box-container .box span {
  font-size: 1.7rem;
  color: #fff;
  border-radius: 5rem;
  padding: .5rem 1.5rem;
  background: #1a1a1a;
}

.education .box-container .box h3 {
  font-size: 2rem;
  padding: 1rem 0;
  color: #fff;
  padding-top: 3rem;
  font-weight: normal;
}

.education .box-container .box p {
  font-size: 1.5rem;
  color: #aaa;
  line-height: 2;
}

#projects-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  -webkit-transition: all .45s;
  transition: all .45s;
  padding: 0 1.4rem;
  margin: 0 auto 1rem;
  width: 100%;
  background-color: rgba(47, 46, 65, 0.827);
}

#projects-nav a.navbar-brand {
  font-size: 2rem;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1rem;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
  font-weight: 500;
}

#projects-nav a.nav-link {
  color: #fff;
  font-size: 2.2rem;
  text-decoration: none;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  margin-left: 1rem;
  padding: 0;
  -webkit-transition: all .35s;
  transition: all .35s;
  border-bottom: 4px solid transparent;
  font-weight: 500;
}

#projects-nav a.navbar-brand {
  font-size: 3rem;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1rem;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
  font-weight: 500;
}

.breadcrumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2.2rem;
  padding: 0 1.4rem;
}

.breadcrumb .breadcrumb-link {
  color: #fa9805;
  text-decoration: none;
  margin-top: 1px;
}

.breadcrumb .breadcrumb-divider {
  margin: 0 .3rem;
  color: #fff;
}

.breadcrumb-current {
  color: #fff;
}

.portfolio {
  text-align: center;
}

.portfolio .filter-button-row {
  margin-bottom: 3rem;
}

.portfolio .filter-button-row .filter-button {
  margin-right: .5rem;
  padding: .9rem 1.5rem .45rem;
  background: #2f2e41;
  border: 2px solid #2f2e41;
  color: #fff;
  border-radius: 30px;
  font-size: 2rem;
  cursor: pointer;
  outline: none;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.portfolio .filter-button.selected {
  background: #fa9805;
}

.portfolio .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(31rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.portfolio .box-container .box {
  height: 30rem;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.portfolio .box-container .box:hover .content {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.portfolio .box-container .box img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.portfolio .box-container .box .content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #1a1a1a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.portfolio .box-container .box .content .title {
  font-size: 2rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: normal;
}

.portfolio .box-container .box .content .pills-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: .3rem 0;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 1 .25rem;
}

.blogs .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(31rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
  gap: 1.5rem;
}

.blogs .box-container .box {
  text-align: center;
  padding: 2rem;
  border-radius: .5rem;
  background: #1a1a1a;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
}

.blogs .box-container .box:hover .image img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.blogs .box-container .box .image {
  height: 25rem;
  width: 100%;
  border-radius: .5rem;
  overflow: hidden;
}

.blogs .box-container .box .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.blogs .box-container .box .content .icons {
  position: relative;
  top: -1rem;
  border-radius: .5rem;
  padding: 1.5rem;
  display: inline-block;
  background: #0d0d0d;
}

.blogs .box-container .box .content .icons a {
  font-size: 1.4rem;
  margin: 0 1rem;
  color: #fff;
}

.blogs .box-container .box .content .icons a:hover {
  color: #fa9805;
}

.blogs .box-container .box .content .icons a i {
  padding-right: .5rem;
  color: #fa9805;
}

.blogs .box-container .box .content h3 {
  font-size: 2rem;
  color: #fff;
  font-weight: normal;
}

.blogs .box-container .box .content p {
  font-size: 1.5rem;
  color: #aaa;
  padding: 1rem 0;
  line-height: 2;
}

.contact p.email {
  text-transform: none;
}

.contact .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}

.contact .row .info-container {
  width: 40rem;
}

.contact .row .info-container h1 {
  font-size: 3rem;
  text-transform: uppercase;
  color: #fff;
  padding-bottom: 1rem;
}

.contact .row .info-container p {
  font-size: 1.5rem;
  line-height: 2;
  color: #aaa;
  padding: 1rem 0;
}

.contact .row .info-container .box-container {
  padding: 2rem 0;
}

.contact .row .info-container .box-container .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  padding: 1rem 0;
}

.contact .row .info-container .box-container .box i {
  font-size: 3rem;
  color: #fa9805;
}

.contact .row .info-container .box-container .box h3 {
  font-size: 2rem;
  color: #fff;
}

.contact .row .info-container .share a {
  font-size: 2rem;
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  border-radius: 50%;
  background: #1a1a1a;
  color: #fff;
  text-align: center;
  margin-right: .3rem;
}

.contact .row .info-container .share a:hover {
  background: #fa9805;
}

.contact .row form {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
}

.contact .row form .inputBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact .row form .inputBox input {
  width: 49%;
}

.contact .row form .inputBox input,
.contact .row form textarea {
  border-radius: 5rem;
  padding: 1.2rem 1.8rem;
  font-size: 1.6rem;
  color: #fff;
  text-transform: none;
  margin: .7rem 0;
  background: #1a1a1a;
}

.contact .row form textarea {
  width: 100%;
  border-radius: 1rem;
  resize: none;
  height: 25rem;
}

.contact .row form .btn {
  padding: 1rem 3rem;
  cursor: pointer;
}

.contact .row form .btn:hover {
  background: #fff;
  color: #0d0d0d;
}

@-webkit-keyframes text_reveal_box {
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes text_reveal_box {
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@-webkit-keyframes text_reveal {
  100% {
    color: white;
  }
}

@keyframes text_reveal {
  100% {
    color: white;
  }
}

@-webkit-keyframes text_reveal_name {
  100% {
    color: #fa9805;
    font-weight: 500;
  }
}

@keyframes text_reveal_name {
  100% {
    color: #fa9805;
    font-weight: 500;
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
  section {
    padding: 3rem 2rem;
  }
}

@media (max-width: 991px) {
  .home .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 768px) {
  .heading {
    font-size: 12vw;
  }
  .navbar a i {
    padding: 0;
  }
  .navbar a span {
    display: none;
  }
  .navbar a:hover {
    padding-bottom: 2rem;
  }
  .home {
    text-align: center;
    gap: 2rem;
  }
  .home .image img {
    height: 30rem;
    width: 30rem;
  }
  .home .content h3 {
    font-size: 3rem;
  }
  .home .content span {
    font-size: 2.5rem;
  }
  .contact .row form .inputBox input {
    width: 100%;
    margin-bottom: 1rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}

#portfolio {
  background: #1a1a1a;
  padding: 4.5rem 0;
}

.offset:before {
  display: block;
  content: "";
  height: 3.7rem;
  margin-top: -3.7rem;
}

#portfolio .portfolio-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-title, .section-title-white {
  margin-bottom: 1rem;
}

.section-title small, .section-title-white small {
  font-size: 1.35rem;
  color: #2e70b8;
}

a, button, p, small, span {
  margin: 0;
  padding: 0;
}

.section-title h2, .section-title-white h2 {
  margin: -.5rem 0 .6rem -.12rem;
  font-size: 2.9rem;
  font-weight: 500;
}

.section-title .underline-section, .section-title-white .underline-section {
  border-bottom: 3px solid #3378c1;
  width: 110px;
  margin-top: -6.5px;
}

#portfolio .portfolio-wrapper .portfolio-projects-showcase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

#portfolio .portfolio-wrapper .portfolio-projects-showcase .featured-project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#portfolio .portfolio-wrapper .portfolio-projects-showcase .featured-project .project-img {
  -webkit-box-flex: 1.25;
      -ms-flex: 1.25 1;
          flex: 1.25 1;
  margin-right: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

#portfolio .portfolio-wrapper .portfolio-projects-showcase .featured-project .project-img .project-img-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 100%;
}

a, button, p, small, span {
  margin: 0;
  padding: 0;
}

#portfolio .portfolio-wrapper .portfolio-projects-showcase .featured-project .project-img .background-blue {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fa9805;
  border-radius: 5px;
  height: 88%;
}

#portfolio .portfolio-wrapper .portfolio-projects-showcase .featured-project .project-img .project-img-link img {
  z-index: 2;
  position: relative;
  width: 95%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 1rem auto 0;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05), 0 5px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05), 0 5px 30px rgba(0, 0, 0, 0.2);
  -webkit-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
}

#portfolio .portfolio-wrapper .portfolio-projects-showcase .featured-project .project-content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
}

#portfolio .portfolio-wrapper .portfolio-projects-showcase .featured-project .project-content .title {
  color: #fff;
  font-size: 2.5rem;
  line-height: 1.5;
  margin-bottom: .5rem;
  font-weight: 500;
}

.pills-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: .3rem auto 0;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.pills-container .pill:not(:last-child) {
  margin-right: 1rem;
}

.pills-container .pill {
  margin-bottom: 1.4rem;
  color: #fff;
  font-size: 1.5rem;
  background: #fa9805;
  padding: .2rem .7rem .3rem;
  border-radius: 30px;
  font-weight: 500;
}

#portfolio .portfolio-wrapper .portfolio-projects-showcase .featured-project .project-content .description {
  font-size: 1.6rem;
  color: #fff;
  text-align: center;
  font-weight: 300;
  letter-spacing: .5px;
  margin-top: 1rem;
}

#portfolio .portfolio-wrapper .portfolio-projects-showcase .featured-project .project-content .description a {
  color: #fa9805;
  font-size: 1.8rem;
  font-weight: 500;
}

#portfolio .portfolio-wrapper .portfolio-projects-showcase .featured-project .project-content .button-row {
  margin: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#portfolio .portfolio-wrapper .portfolio-projects-showcase .featured-project .project-content .button-row a:first-child {
  margin-right: 1rem;
}

.btn-dark-primary {
  background: #2f2e41;
  border: 3px solid #2f2e41;
  color: #fff;
}

.btn-dark-primary {
  border-radius: 5px;
  padding: .56rem 1rem;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  height: 3rem;
  cursor: pointer;
  -webkit-transition: all .5s;
  transition: all .5s;
  text-decoration: none;
  font-size: 1.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-dark-primary svg {
  width: 1rem;
  height: 1rem;
  margin-right: .5rem;
}

svg {
  display: block;
}

#portfolio .portfolio-wrapper .portfolio-projects-showcase .border-bottom {
  background: #2f2e41;
  height: 1px;
  width: 30%;
  margin: 3rem auto 4rem;
}

#portfolio .portfolio-wrapper .portfolio-projects-showcase .featured-project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#portfolio .portfolio-wrapper .portfolio-projects-showcase .featured-project .project-img {
  -webkit-box-flex: 1.25;
      -ms-flex: 1.25 1;
          flex: 1.25 1;
  margin-right: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

#portfolio .portfolio-wrapper .portfolio-projects-showcase .featured-project .project-img .project-img-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 100%;
}

#portfolio .portfolio-wrapper .portfolio-projects-showcase .featured-project .project-img .project-img-link img {
  z-index: 2;
  position: relative;
  width: 95%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 1rem auto 0;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05), 0 5px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05), 0 5px 30px rgba(0, 0, 0, 0.2);
  -webkit-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
}

@media (max-width: 900px) {
  #portfolio .portfolio-wrapper .portfolio-projects-showcase .featured-project {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

/* Projects page */
.portfolio {
  text-align: center;
}

.portfolio .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(31rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.portfolio .box-container .box {
  height: 30rem;
  overflow: hidden;
  position: relative;
}

.portfolio .box-container .box:hover .content {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.portfolio .box-container .box img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.portfolio .box-container .box .content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #1a1a1a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.portfolio .box-container .box .content h3 {
  font-size: 2.5rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: normal;
}

.portfolio .box-container .box .content p {
  padding: 1rem 0;
  font-size: 1.5rem;
  line-height: 2;
  color: #aaa;
}

.portfolio .box-container .box .content a {
  font-size: 2rem;
  color: #fa9805;
}

.portfolio .box-container .box .content a:hover {
  color: #fff;
}

.blogs .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(31rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
  gap: 1.5rem;
}

.blogs .box-container .box {
  text-align: center;
  padding: 2rem;
  border-radius: .5rem;
  background: #1a1a1a;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
}

.blogs .box-container .box:hover .image img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.blogs .box-container .box .image {
  height: 25rem;
  width: 100%;
  border-radius: .5rem;
  overflow: hidden;
}

.blogs .box-container .box .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.blogs .box-container .box .content .icons {
  position: relative;
  top: -1rem;
  border-radius: .5rem;
  padding: 1.5rem;
  display: inline-block;
  background: #0d0d0d;
}

.blogs .box-container .box .content .icons a {
  font-size: 1.4rem;
  margin: 0 1rem;
  color: #fff;
}

.blogs .box-container .box .content .icons a:hover {
  color: #fa9805;
}

.blogs .box-container .box .content .icons a i {
  padding-right: .5rem;
  color: #fa9805;
}

.blogs .box-container .box .content h3 {
  font-size: 2rem;
  color: #fff;
  font-weight: normal;
}

.blogs .box-container .box .content p {
  font-size: 1.5rem;
  color: #aaa;
  padding: 1rem 0;
  line-height: 2;
}

#footer {
  background: #2f2e41;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 1.8rem;
  text-align: center;
}

#footer button.scroll-to-top {
  width: 100%;
  background: #3c3b53;
  outline: none;
  border: none;
  color: #fff;
  font-size: 1rem;
  padding: 1rem 0;
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s;
}

#footer .social-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2rem 0 1rem;
}

#footer .credit-container {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 1rem;
}

#footer .social-container .social:first-child {
  margin-right: 1rem;
}

#footer .social-container .social {
  background: #363636;
  padding: .5rem;
  cursor: pointer;
  border-radius: 5px;
}

#footer .social-container .social svg {
  -webkit-transition: all .3s;
  transition: all .3s;
  color: #fff;
  width: 35px;
  height: 35px;
}

svg {
  display: block;
}

#footer .social-container .social {
  background: #363636;
  padding: .5rem;
  cursor: pointer;
  border-radius: 5px;
}

#footer .credit-container small {
  margin-bottom: .4rem;
}

.credit-container {
  font-size: 1.8rem;
}
/*# sourceMappingURL=style.css.map */